
.change-quote {
    margin-bottom: 30px;
    background-image: url("../../assets/svg/reload.svg");
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .quote {
    min-height: 32px;
  }
  
  .author {
    min-height: 20px;
  }