

  
  .greeting-container {
    min-width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    min-height: 48px;
    font-size: 40px;
  }
  
  .greeting {
    flex: 1;  
    padding: 10px;
    text-align: right;
  }
  
  .name {
    flex: 1;
    max-width: 60%;
    padding: 10px;
    font-size: 40px;
    text-align: left;
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
  }
  
  .name::placeholder {
    color: #fff;
    opacity: .6;
  }
  
  .loginBtn {
    background: transparent;
    cursor: pointer;
    padding: 5px;
    border: 1px white solid;
    font-size: 40px;
    color: white;
  }
  .loginBtn:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
  }